/*
    inde.html文件的特定样式表
*/
@charset "utf-8";
/*
    菜单总样式
*/

.topbody
{
    background-color:#f6f6f6
}
.menu
{
    margin: 0 auto;
    width:1210px;
    /*border:solid 1px red;*/
}
/*左边总样式*/
.leftmenu
{
    float:left;
}
.leftmenu ul
{
    margin-top: 10px;
    /*border:solid 1px pink;*/
}
.leftmenu ul li
{
    line-height:30px;
    width:113px;

}
/*右边总样式*/
.rightmenu
{
    float:right;
}
.rightmenu ul
{
    /*border:solid 1px pink;*/
    margin-top: 10px;

}
.rightmenu ul li
{
    float:left;
    width:89px;
    line-height:30px;
    text-align:center;
    height:30px;
    margin-right: -5px;
}
/*右边精灵图片设置*/
.map
{
    float:left;
    display:block;
    width:19px;
    height:23px;
    background-repeat: no-repeat;
    background-position:2px 1px;
    background-image:url(../images/sprite.png);
    margin-top: 4px;
    margin-left:10px;


}
.leftmenu ul li i
{

}


/*导航链接默认*/
.stylered
{
    color:red;
}
/*导航链接分割线*/
.rightmenu ul .line
{
    width:1px;
    height:18px;
    margin-top: 5px;
    border-right:solid 1px #d5d5d5;
}
/*图片文字位移*/
.run
{
    margin-left:-14px;
}

/*
    下方框
*/
.blockredboxi
{
    display: inline-block;
    width:11px;
    height:10px;

    overflow: hidden;
    float:right;
    margin-top: -15px;
    margin-right: 21px;
    position: relative;
}
.blockredboxs
{
    position: absolute;
    top:-8px;
    letf:-1px;
}

.rblockredboxi
{
    display: inline-block;
    width:23px;
    height:5px;

    overflow: hidden;
    float:right;
    margin-top: 15px;
    margin-right: 10px;
    position: relative;
}

.rblockredboxs
{
    position: absolute;
    top:-15px;
    letf:-20px;
}


/*搜索位置*/
.select
{
    margin-top: 24px;
}
.selecform
{
    border: solid 2px red;
    margin-left: 10px;
}
.dong
{

    padding-left: 20px;
}

.selecform .inputwidth
{
    width: 550px;
    height: 36px;

    line-height: 36px;
    font-size:30px;

}
.selecform .inputbtn
{
    width: 74px;
    height: 36px;
    background-color: red;
    font-size: 20px;
    color: white;
}
.selectul
{
    padding-top:4px;
}

.selectul li
{
    float:left;
    padding: 5px;
}

/*购物车*/

.buytext
{
    border:solid 1px #d5d5d5;
    padding: 5px;
    padding-left: 25px;
    padding-right: 25px;
    position: relative;
    width: 100px;
}
.buytext span
{

    float: left;  display: inline-block;
    width: 90px;
    margin-left: 24px;
    line-height: 30px;
}
.buytext i
{

    float: left;
    display: inline-block;
    width: 30px;
    height:30px;
    background: url(../images/sprite.png) no-repeat 1px -50px;
}


.buymunber
{
    position: absolute;
    display:block;
    float: right;
    top:-10px;
    left: 85px;


}
.redbg
{
    color:#ffffff;
    width: 23px;
    height: 23px;
    background-color: red;
    text-align: center;
    border-radius: 50%;
    line-height: 23px;
}

/*菜单*/
.levelmenu
{
    border-bottom:solid 3px #c91623;
}

.levelul li
{
    float:left;
    font-size:19px;
    line-height: 41px;
    padding: 0 20px 0 20px;
}
.levelmenu li h5
{
    color: white;
    font-size:17px;
    background-color: #c91623;
    width: 230px;
    line-height: 42px;
    height: 45px;
}

.levelimg
{
    margin-left: 230px;
}

/*分类菜单*/
.bodybg
{
    background: url(../images/banner.jpg) no-repeat center center;
    height: 603px;
}
.tree
{

}
.tree ul
{
    background-color: red;
    width: 230px;
}
.tree ul li
{
    font:16px/200% "微软雅黑";
    text-indent: 1em;

}
.tree ul li a:link
{
    color: white;

}
.tree ul li a:visited
{
    color: white;
}







